@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: white;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 0, 0.7)), color-stop(50%, rgba(65, 65, 65, 0.822)), to(#272727)), url(./assets/scott-graham-5fNmWej4tAA-unsplash.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 10%, rgba(65, 65, 65, 0.822) 50%, #272727 100%), url(./assets/scott-graham-5fNmWej4tAA-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-rendering: optimizeLegibility;
}

.top {
  padding: 60px 0;
  border-bottom: 1px solid #bebebe;
}

.budget-data {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

.budget-data .box {
  display: inline-block;
  width: 200px;
  height: auto;
  margin: 0 25px;
  padding: 20px;
}

.budget-data .total-income,
.budget-data .budget-balance,
.budget-data .total-expenses {
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
}

.budget-data .total-income .box-headline,
.budget-data .budget-balance .box-headline,
.budget-data .total-expenses .box-headline {
  margin: 15px 0;
  font-weight: 400;
  letter-spacing: 1px;
}

.budget-data .total-income {
  border: 1px solid #2ecc71;
  background-color: #2ecc7048;
}

.budget-data .total-expenses {
  border: 1px solid #e74c3c;
  background-color: #e74d3c4f;
}

.middle {
  position: relative;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.356);
}

.middle .close-icon {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 2em;
  cursor: pointer;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.middle .close-icon:hover {
  color: #e74c3c;
}

.middle .record-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle .record-form .record-type {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: .35em;
}

.middle .record-form .record-type a {
  padding: 10px 20px;
  text-align: center;
  border: none;
  width: 50%;
  color: white;
  cursor: pointer;
}

.middle .record-form form .form-list {
  width: 400px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: .35em;
}

.middle .record-form form .form-list label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
}

.middle .record-form form .form-list li {
  display: block;
  margin-bottom: 10px;
}

.middle .record-form form .form-list input,
.middle .record-form form .form-list textarea,
.middle .record-form form .form-list select {
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: .2em;
  height: 40px;
  padding: 5px 10px;
}

.middle .record-form form .form-list textarea {
  max-height: 150px;
  max-width: 100%;
}

.middle .record-form .btn-record {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.3em;
  color: white;
  letter-spacing: 1px;
  padding: 10px 10px;
  text-align: center;
  border: none;
  border-radius: .35em;
  background-color: #555555;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out, color .2s ease-in-out;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.middle .record-form .btn-record:hover {
  background-color: #ffff;
  color: #000000;
}

.middle .record-form .btn-record i {
  margin-left: 10px;
  font-size: 1.5em;
  font-weight: 400;
}

.active-record-type-green {
  background-color: #2ecc71;
}

.active-record-type-red {
  background-color: #e74c3c;
}

.record-type-container-expenses {
  border: 2px solid #e74c3c;
}

.record-type-container-income {
  border: 2px solid #2ecc71;
}

.bottom {
  height: 60%;
  padding: 30px 0;
  font-weight: 400;
  font-size: 1.2em;
}

.bottom .record-list {
  display: block;
}

.bottom .record-list .record-income-item {
  background-color: #7bffb27e;
}

.bottom .record-list .record-expense-item {
  background-color: #ff625181;
}

.bottom .record-list .record-income-item,
.bottom .record-list .record-expense-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px auto;
  width: 800px;
  height: 60px;
  padding: 10px 25px;
  border-radius: .25em;
  -webkit-animation: .5s both record_animation;
          animation: .5s both record_animation;
}

@-webkit-keyframes record_animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes record_animation {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.bottom .record-list .record-income-item .head-of-record,
.bottom .record-list .record-expense-item .head-of-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .record-list .record-income-item .head-of-record input[type=checkbox],
.bottom .record-list .record-expense-item .head-of-record input[type=checkbox] {
  margin-right: 10px;
}

.bottom .record-list .record-income-item .amount-container,
.bottom .record-list .record-expense-item .amount-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottom .record-list .record-income-item .amount-container i,
.bottom .record-list .record-expense-item .amount-container i {
  margin-left: 20px;
  cursor: pointer;
}

.bottom .record-list .record-income-item .amount-container i:hover,
.bottom .record-list .record-expense-item .amount-container i:hover {
  color: #e74c3c;
}

.bottom .record-list .record-income-item .amount-container .hidden,
.bottom .record-list .record-expense-item .amount-container .hidden {
  display: none;
  opacity: 0;
}

.bottom .record-list .record-income-item:hover .amount-container .hidden,
.bottom .record-list .record-expense-item:hover .amount-container .hidden {
  display: block;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */